doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top

    block content
              
    .container.body-content
        hr
        footer
            p &copy; 2016 - Voter
            
    script(src="/lib/jquery/dist/jquery.js")
    script(src="/lib/bootstrap/dist/js/bootstrap.js")
    script(src="/javascripts/app.js")
